DVM_SECRET_KEY=your_hex_private_key_here
RELAYS=wss://relay.brainrot.rehab

VITE_DVM_PUBKEY=
VITE_BLOSSOM_UPLOAD_URL=https://blossom.brainrot.rehab/upload
VITE_PLAUSIBLE_DOMAIN=
# Optional custom script URL (default: https://plausible.io/js/script.js)
# VITE_PLAUSIBLE_SRC=
